<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AscEmu Wiki</title>
    <meta name="description" content="Official Wiki for AscEmu">
    <meta name="author" content="Zyres">

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/Wiki/css/aestyle.css">
    <link rel="stylesheet" href="/Wiki/css/highlighter.css">
    <link rel="shortcut icon" type="image/x-icon" href="/Wiki/images/favicon.png">
    
    <style>
        .topnav a {
          float: right;
          color: #333;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 15px;
        }
    </style>

</head>

<body>
    <div class="wrapper">
        {% include sidebar.html %}
        <div id="content">
            <div class="topnav">
                <a target="_blank" href="https://github.com/AscEmu/AscEmu"><i class="fab fa-github"></i> Github</a>
                <a target="_blank" href="https://discordapp.com/invite/dA8Sbv?utm_source=Discord%20Widget&utm_medium=Connect"><i class="fab fa-discord"></i> Discord</a>
                <a target="_blank" href="https://github.com/AscEmu/Wiki/tree/master/{{ page.path }}"><i class="fas fa-code-branch"></i> Change this page</a>
            </div>
            {{ content }}
        </div>
    </div>
    
</body>
</html>
